CompileFlags:
  Add: [-std=c++26]  # 指定 C++ 标准

Diagnostics:
  ClangTidy: 
    CheckOptions:
      readability-identifier-naming.StrictCase: true

Index:
  Background: Build

InlayHints:
  Designators: No
  ParameterNames: No
  DeducedTypes: No
  