# .clang-tidy
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  cert-*,
  -misc-use-internal-linkage,
  -readability-identifier-length,
  -misc-non-private-member-variables-in-classes,
  -readability-braces-around-statements,
  -modernize-use-trailing-return-type,
  -readability-named-parameter,
  -misc-no-recursion,
  -readability-isolate-declaration,
  -readability-redundant-member-init,
  -readability-else-after-return,
  -readability-qualified-auto,
  -cert-err58-cpp,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  # -bugprone-reserved-identifier,
  -bugprone-macro-parentheses,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -performance-avoid-endl,
  -modernize-use-ranges,
  -modernize-use-nodiscard,
  -modernize-use-emplace,
  -bugprone-branch-clone,
  -modernize-use-designated-initializers,
  -bugprone-suspicious-include,
  -cert-err33-c,
  -readability-simplify-boolean-expr,
  -readability-math-missing-parentheses,
  -readability-avoid-return-with-void-value,
  -cert-err34-c,
CheckOptions:
  readability-identifier-naming.StrictCase: 'true'
